import pandas as ps 
data = pd.read_csv("data/raw/resume.csv")

In [2]:
import pandas as pd
data = pd.read_csv("data/raw/resume.csv")

In [9]:
data

      label                                             resume
0         0  \n\nSUMMARY\n\nAround 7 years of experience in...
1         0  \n\nSUMMARY\n\nOver 8+ years of experience in ...
2         0  \n\nSUMMARY\n\nPossess 5 years of work experie...
3         0  \n\nSUMMARY\n\n7+ years of experience in SDLC ...
4         0  \n\nSUMMARY\n\nAround 9 years of professional ...
...     ...                                                ...
1579     13  \n\nSUMMARY\n\nOver 6 years of experience as a...
1580     13  \n\nSUMMARY\n\n8+ years of professional experi...
1581     13  \n\nSUMMARY\n\n8 years of extensive work exper...
1582     13  \n\nSUMMARY\n\nAround 08+ years of experience ...
1583     13  \n\nSUMMARY\n\nOver 7+ years of professional e...

[1584 rows x 2 columns]

In [5]:
unique_classes = data["label"].unique()

In [8]:
# Print the number of classes and the class names
print(f"Number of classes: {len(unique_classes)}")
print(f"Class names: {unique_classes}")

Number of classes: 14
Class names: [ 0  2  3  5  8  9 11  1  6 10  4  7 12 13]